{% extends "core/base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<h1>Projects</h1>
{% if projects %}
<div style="display:grid; gap: 12px;">
    {% for p in projects %}
    <div class="card" style="display: flex; gap: 16px;">
        {% if p.thumbnail %}
        <img src="{{p.thumbnail.url}}" alt="{{p.title }}"
            style="width: 140px; height: 100px; object-fit: cover; border-radius: 8px;" />
        {% endif %}
        <div>
            <h2 style="margin: 0 0 8px 0;">{{ p.title }}</h2>

            <p>{% if p.description %}</p>
            <p style="margin: 0 0 8px 0;">{{ p.description }}</p>
            {%endif%}

            {% if p.url %}
            <a href="{{ p.url }}" target="_blank" rel="noreferrer">Lihat Project</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{%else%}
<p>Belum ada project. Tambahkan lewat admin.</p>
{%endif%}
{% endblock %}